.editar-musica{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3%;
}

label {
    font-weight:bolder;
    color: #535353;
    display: flex;
    margin-bottom: 1rem;
}


input{
    display: block;
    width: 50%;
    font-size: 1.5rem;
    line-height: 1.43;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 2%;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: 5%;
    transition: border-color 0.25s;
    width: 20%;
    color:#535353;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .salva-icon, #delete-icon {
    max-width: 20px;
    max-height: 20px;
    margin-right: 20px;
  }

  #delete {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    color: red;
    font-size: large;
    font-weight: bolder;
    width: 150px;
  }

  .salva {
    border: 1px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bolder;
    width: 150px;
  }